<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="navbar" xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity5>
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Acteurs</title>
</head>
<body>
    <div layout:fragment="Mynavbar">
    <div class="container mt-5">
    <div class="card">
     <div class="card-header d-flex">
					<h4 class="mt-2">List des Acteurs </h4>
					<form class="form-inline ml-auto" th:action="@{searchNomFilm}" method="POST">
						<div class="md-form my-0">
							<input type="search" class="form-control" placeholder="Rechercher Film" name='nomFilm'
								th:value="${nomFilm}" />
						</div>
						<input type='submit' class="btn btn-outline-white btn-md my-0 ml-sm-2" value='Recherche'>
					</form>
				</div>
    
     <div class="card-body"> 
     <table class="table table-striped" style="text-align: center;">
     <tr>
     <th>ID</th><th>Nom Acteur</th><th>Salaire</th><th>Date Naissance</th><th>Film</th><th colspan="2">Actions</th>
     </tr> 
     <tr th:each="a:${acteurs}">
     <td th:text="${a.idActeur}"></td>
     <td th:text="${a.nomActeur}"></td>
     <td th:text="${a.salaireActeur}"></td> 
     <td th:text="${a.dateNaissance}"></td> 
          <td th:if= "${!#strings.isEmpty(a.film)}" th:text="${a.film.nomFilm}"></td>  
  <td th:if= "${#strings.isEmpty(a.film)}" th:text="${'Pas de Films'}"></td>
    <td sec:authorize="hasRole('ADMIN')" ><a class="btn btn-danger"
onclick="return confirm('Etes-vous sûr ?')"
th:href="@{supprimerActeur(id=${a.idActeur})}">Supprimer</a>
</td>
   <td><a class="btn btn-success"
th:href="@{modifierActeur(id=${a.idActeur})}">Editer</a></td>
     </tr> 
     </table>
     <ul class="nav nav-pills">
     <li th:each="page,status:${pages}">
     <a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
     th:href="@{ ListeActeurs(page=${status.index}, size=${size} ) }"
     th:text="${status.index }"></a>
     </li>
     </ul>
     
     </div>
    </div>
    </div>
    </div>
    </body>
</html>